@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url(c:\Users\Kim Saulog\Documents\Kim's Documents\Dev_group\Laravel Projects\simpacc\simpacc-tin-branch\simpaccDesign\public\css\bootstrap.css);
@import url(c:\Users\Kim Saulog\Documents\Kim's Documents\Dev_group\Laravel Projects\simpacc\simpacc-tin-branch\simpaccDesign\public\css\style.css);
/*# sourceMappingURL=app.css.map */