body {
  margin: 0;
}

#container {
  position: relative;
  height: 100%;
  min-width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#sidebar {
  position: fixed;
  display: inline-block;
  vertical-align: top;
  min-height: 100vh;
  background-color: white;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow-y: auto;
  padding-top: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#sidebar .side-link {
  padding: 15px;
}

#sidebar .side-link .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.default-sidebar-width {
  width: 18%;
}

.default-sidebar-width #sideBarTogglerWrapper {
  text-align: right;
  margin-right: 20px;
}

.slim-sidebar-width {
  width: 10%;
}

.slim-sidebar-width #sideBarTogglerWrapper {
  text-align: center;
}

.slim-sidebar-width .sidebar-links {
  display: none;
}

#content {
  float: right;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 0 auto;
}

.default-content-width {
  width: 80%;
}

.wide-content-width {
  width: 88%;
}

.default-content {
  padding-top: 100px;
}

.btn-rounded {
  border-radius: 100px;
  font-size: 13pt;
}

p {
  font-size: 12pt;
}

@media (min-width: 1200px) {
  .slim-sidebar-width {
    width: 5%;
  }
}

@media (max-width: 992px) {
  .default-sidebar-width {
    width: 25%;
  }
  .default-content-width {
    width: 71%;
  }
  .slim-sidebar-width {
    width: 10%;
  }
}

@media (max-width: 576px) {
  .default-sidebar-width {
    width: 30%;
  }
  .default-content-width {
    width: 67%;
  }
  .slim-sidebar-width {
    width: 15%;
  }
  .wide-content-width {
    width: 75%;
  }
  .button-header {
    text-align: center;
  }
  .button-header .btn {
    margin-top: 10px;
  }
}

@media (max-width: 991.98px) {
  #sideBar {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
/*# sourceMappingURL=style.css.map */