#invoiceInput {
  font-size: 24pt;
  color: #000000;
}

.invoice-mini-card {
  max-width: 300px;
  min-height: 200px;
}

#editColumn {
  background-color: #e9ecef;
  color: blue;
  border: none;
}
/*# sourceMappingURL=style.css.map */